@model StockParser.Domain.Dto.ProfileDto

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_LTE.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_StockPartial", Model)
        </div>
        <!-- /.col-md-6 -->
        <div class="col-lg-6">
            <!-- /.card -->
            @Html.Partial("_RulesPartial", Model)
        </div>
        <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

