<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mssql" connectionString= "Server=.;Database=Stocks;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="Key0" value="0" />
    <add key="Key1" value="1" />
    <add key="Key2" value="2" />
  </appSettings>
</configuration>